<p>Random stuff, by <a href="http://august.lilleaas.net">August</a>. The list:</p>

<ul>
<% THINGIES.each do |thingie| %>
    <li><a href="/<%= thingie.permalink %>"><%= thingie.title %></a></li>
<% end %>
</ul>