<p>Random stuff, by <a href="http://august.lilleaas.net">August</a>. The list:</p>

<% GROUPED_THINGIES.each do |group, thingies| %>
    <h2><%= group %></h2>
    
    <ul>
        <% thingies.each do |thingie| %>
            <li><a href="/<%= thingie.permalink %>"><%= thingie.title %></a></li>
        <% end %>
    </ul>
<% end %>
