<p>Random stuff, by <a href="http://august.lilleaas.net">August</a>. Consider all the stuff on this page as work in progress kind of stuff.</p>

<ul>
    <% ALL_THINGIES.each do |thingie| %>
        <li>
            <a href="/<%= thingie.permalink %>"><%= thingie.title %></a>
            <small>[<%= thingie.topic %>]</small>
        </li>
    <% end %>
</ul>