<p>Random stuff, by <a href="http://august.lilleaas.net">August</a>. Consider all the stuff on this page as work in progress kind of stuff.</p>

<% GROUPED_THINGIES.each do |group, thingies| %>
    <h2><%= group.capitalize %></h2>
    
    <ul>
        <% thingies.each do |thingie| %>
            <li><a href="/<%= thingie.permalink %>"><%= thingie.title %></a></li>
        <% end %>
    </ul>
<% end %>
