<%= CONFIG['intro'] %>

<ul>
    <% ALL_THINGIES.each do |thingie| %>
        <li>
            <a href="/<%= thingie.permalink %>"><%= thingie.title %></a>
            <small>[<%= thingie.topic %>]</small>
        </li>
    <% end %>
</ul>