<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>stuff</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
    <link href="http://feeds.feedburner.com/leethalstuff" rel="alternate" title="RSS feed" type="application/rss+xml" />
    <link href="http://feeds.feedburner.com/leethalstuff" rel="alternate" title="Atom feed" type="application/atom+xml" />
</head>
<body>
    <div id="wrapper">
        <a href="/" id="header"></a>
        
        <div id="main">
            <%= yield %>
        </div>
        
        <div id="footer">
            Powered by <a href="http://sinatrarb.com">sinatra</a>.
            Source code <a href="http://github.com/leethal/stuff-site/tree">here</a>.
        </div>
    </div>
</body>
</html>
