<?xml version="1.0"?>
<rss version="2.0">
    <channel>
        <title>stuff</title>
        <link>http://stuff.lilleaas.net/</link>
        <description>stuff (by leethal)</description>
        <language>en-us</language>
        <generator>Sinatra and ERB</generator>
    
        <% ALL_THINGIES.reverse[0..9].each do |thingie| %>
        <item>
            <title><%= thingie.title %></title>
            <link>http://l2.lilleaas.net/<%= thingie.permalink %></link>
            <description><%= thingie.textilized %></description>
            <pubDate><%= thingie.created_at %></pubDate>
        </item>
        <% end %>
    </channel>
</rss>