<h1><%= params[:name].capitalize %></h1>

<p>Stuff in this topic:</p>

<ul>
    <% @thingies.each do |thingie| %>
        <li><a href="/<%= thingie.permalink %>"><%= thingie.title %></a></li>
    <% end %>
</ul>