/*####################
Tags and stuff
####################*/

body{
  font-family: Verdana, Arial, sans-serif;
  font-size:14px;
}

h1, h2, h3, h4{
  font-family: Georgia;
}

h1{
  font-size:2.5em;
  border-bottom:1px solid #bbb;
}

h2, h3, h4{
  border-bottom:1px solid #eee;
  margin-top:2em;
}

a{
  color:#cc0000;
  font-size:.9em;
}

a:hover{
  background:#cc0000;
  color:#fff;
  text-decoration:none;
}

p, ul{
  margin-bottom:2em;
  line-height:1.5em;
}

small{
  font-size:.7em;
  color:#ccc;
}

/*####################
Divs and stuff
####################*/

#wrapper{
  width:600px;
  margin:0 auto;
}

a#header{
  display:block;
  width:100%;
  height:100px;
  background:url(/images/stuff.jpg);
  margin-bottom:5em;
}

p.grey{
  color:#999;
  font-size:.8em;
  text-align:right;
}

#footer{
  color:#999;
  font-style:italic;
  font-size:.9em;
  margin:5em 0;
}

#footer a{
  color:#555;
}

/*####################
Definition lists
####################*/

dl{
  width:600px;
  margin-bottom:2em;
  border-bottom:1px dashed #efefef;
  overflow:hidden;
}

dl dt{
  width: 200px;
  float:left;
  margin: 0;
  font-weight: bold;
  clear:left;
}

dl dd{
  float:left;
  width: 400px;
  margin: 0;
}

dl dt,
dl dd{
  border-top:1px dashed #efefef;
  padding:.3em 0;
}

/*####################
syntax highlighting and other neat blocks
####################*/

pre,
code{
	font-family: "Bitstream Vera Sans Mono", "Monaco", "Courier", monospace;
}

pre{
  padding:.5em;
  margin-left:1.5em;
  overflow:hidden;
}

pre:hover{
  overflow:visible;
  background:#f7f7f7;
}

code.inline_code, pre{
  font-size:.85em;
}

/* entities */
.fu{ }

/* keywords, tags */
.r, .ta{ color:#3F6F54; font-weight:bold; }


/* comments */
.c{ 
	color:#aaa;
	font-style:italic;
}

/* strings */
.s{ color:#8AB85D; }

/* regular expressions and regexp specials */
.rx{ color:#d0905a; }

.ch{ }

/* integers, symbols, self, constants, instance vars */
.i, .sy, .pc, .cl, .co, .iv{ color:#1E429F;  }
.cl, .co{ font-weight:bold;}

/* string interpolation */

.il, .il *{ color:#5F985D; }
